<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Open Source Software published under the Apache Licence, Version 2.0.
  -->

<configuration>
    <property name="log_path" value="${user.home}/.mtool-client/logs"/>
    <property name="log_level" value="${log.level:-info}"/>
    <if condition='property("os.name").contains("OS X")'>
        <then>
            <property name="log_path" value="${user.home}/Library/MtoolClient/logs"/>
        </then>
    </if>

    <if condition='property("os.name").contains("Windows")'>
        <then>
            <property name="log_path" value="${APPDATA}/MtoolClient/logs"/>
        </then>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log_path}/mtool-client.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{uuid}] [%thread] %-5level %logger{3} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.alaya.tx.PlatOnContract">
        <level value="debug" />
    </logger>

    <logger name="com.alaya.protocol.http.HttpService">
        <level value="debug" />
    </logger>

    <root>
        <level value="${log_level}"></level>
<!--        <appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </root>
</configuration>